%h1 Dashboard

%table#commits
  %thead
    %tr
      %th Id
      %th Username
      %th message
      %th SHA
      %th url
  %tbody
    - @commits.each do |commit|
      %tr
        %td=commit.id
        %td=commit.user.login
        %td=commit.message
        %td=commit.sha
        %td=link_to 'View on github', commit.url



