%hr
-if comments.any?
  %ul
    -comments.each do |comment|
      %li
        %b=link_to "#{comment.user.login}:", comment.user.url
        ="#{comment.body} (#{l comment.commented_at, format: :short})"
-else
  %p=t('notices.no_comments')
