%h1
  =link_to @repo.organization.name, @repo.organization
  \/
  =link_to @repo.name, @repo.url
  =observe_label(@repo)

.row
  .col-md-8
    -@pulls.each do |pr|
      = render 'pull_request', pull: pr
  .col-md-4.well
    %h3=t('headers.most_active_for_last_hour')
    -@users.each do |user|
      =render 'users/active_user', user: user


