%table#commits.table
  %thead
    %tr
      %th Username
      %th Repo
      %th Message
      %th
  %tbody
    - @commits.each do |commit|
      %tr
        %td=link_to commit.user.login, commit.user.url
        %td=commit.repo.name
        %td=truncate(commit.message, omission: "...", length: 80)
        %td=link_to 'On github', commit.url, class: 'btn btn-primary'
