%table#commits.table
  %thead
    %tr
      %th= t('commit.username')
      %th= t('commit.repo')
      %th= t('commit.message')
      %th
  %tbody
    - @commits.each do |commit|
      %tr
        %td=link_to commit.user.login, commit.user.url
        %td=commit.repo.name
        %td=truncate(commit.message, omission: "...", length: 80)
        %td=link_to t('links.on_github'), commit.url, class: 'btn btn-primary'
