%table.table.table-striped
  %tbody
    - @repos.each do |repo|
      %tr
        %td=link_to repo.name, repo
        %td=link_to (repo.observed ? t("repo.deactivate") : t("repo.activate")),
            repos_toggle_activation_url(id: repo), remote: true
