.row
  .col-md-4.well
    %h4=t('choose_organization')
    %ul
      - @organizations.each do |organization|
        %li
          %h4=link_to organization.name, organization
    %hr
    = link_to t('links.new_organization'), new_organization_path, class: 'btn btn-primary'
  .col-md-8
